Auliya Rahmawati
- jawabannya hampir bener
- salah memahami instruksi pada soal
- lumayan paham Python

Amri Rizaldi
- jawabannya hampir bener
- salah memahami instruksi pada soal
- penulisan script c++ nya kurang tepat

Diana Eka Riyani
- jawabannya hampir bener
- antara kurang memahami metode test seperti ini atau memang masih kurang tau koding

Aulia Firyal Syarifa
- nggak ngumpulin jawaban

Daffa Malik
- logicnya udah dapet, cuma jawabannya masih belum benar
- salah memahami instruksi pada soal

Erni Yanthy
- kodingannya masih kurang benar
- ada kemungkinan jawabannya copas, mirip dengan jawaban Auliya Rahmawati

Rama Adi Wibowo
- jawabannya bener

Raihan Triyogi
- jawabannya bener

Faisal Riza Rahmar
- logicnya dapet, cuma jawabannya kurang benar
- antara kurang memahami metode test seperti ini atau memang masih kurang tau koding

Muchammad Farel Rizky Sundawa
- sepertinya jawabannya copas dari internet, milih pake bahasa javascript tapi nulis kode arduino

Siti Mawaddah
- jawabannya bener

Rofi Amrullah Akisa
- logic nya udah dapet, tapi jawabannya salah
- kurang memahami soal, dan sepertinya masih kurang paham kodingan

Sulthan Zaidan Fauzi
- jawabannya bener

yehezkiel simbuang
- jawabannya bener